---
import { getBlogCollectionByLocale, getUniqueTagsWithCount, getLangStaticPaths } from 'astro-pure/server'
import { Button } from 'astro-pure/user'
import { cn } from 'astro-pure/utils'
import PageLayout from '@/layouts/BaseLayout.astro'
import { i18n } from 'astro:config/client'
import { getRelativeLocaleUrl } from 'astro:i18n'
import { useTranslations } from 'astro-pure/utils'

export const prerender = true

export async function getStaticPaths() {
  const paths = await getLangStaticPaths()
  return await Promise.all(
    paths.map(async (p) => {
      const lang = p.params.lang as string
      const allPosts = await getBlogCollectionByLocale(lang)
      const allTags = getUniqueTagsWithCount(allPosts)
      return { params: { lang }, props: { allTags } }
    })
  )
}

interface Props {
  allTags: [string, number][]
}

const { allTags } = Astro.props as Props
const currentLocale = Astro.currentLocale || i18n?.defaultLocale || 'en'
const { t } = useTranslations(['common', 'blog'], currentLocale)
---

<PageLayout meta={{ description: t('tags.description'), title: t('tags.all_title') }}>
  <Button title={t('navigation.back')} href={getRelativeLocaleUrl(currentLocale, '/blog')} variant='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>{t('tags.title')}</h1>
    </div>

    <div id='content' class='animate'>
      {
        allTags.length > 0 ? (
          <ul class='flex flex-wrap gap-4'>
            {allTags.map(([tag, val]) => (
              <li>
                <Button
                  href={getRelativeLocaleUrl(currentLocale, `/tags/${tag}`)}
                  variant='pill'
                  class={cn(
                    'items-start gap-x-1',
                    val > 2 ? 'rounded-xl px-3 py-1 text-xl' : val > 1 && 'text-lg'
                  )}
                >
                  {tag}
                  <span class={val > 2 ? 'text-base' : 'text-xs'}>{val}</span>
                </Button>
              </li>
            ))}
          </ul>
        ) : (
          <p>{t('tags.none')}</p>
        )
      }
    </div>
  </main>
</PageLayout>
