---
import { languages, useTranslations } from '@/i18n/ui'

import { PFSearch } from 'astro-pure/components/pages'
import { Button } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import { integ } from '@/site-config'

export const prerender = true

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({ params: { lang } }))
}

const { lang } = Astro.params
const t = useTranslations(lang as any)

const meta = {
  description: t('search.desc'),
  title: t('search.title')
}
---

<PageLayout {meta}>
  <Button title={t('common.back')} href={`/${lang}/blog`} variant='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>{t('search.title')}</h1>
    </div>

    <div id='content' class='animate'>
      {
        integ.pagefind ? (
          <>
            <p>{t('search.placeholder')}</p>
            <PFSearch />
          </>
        ) : (
          <p>{t('search.disabled')}</p>
        )
      }
    </div>
  </main>
</PageLayout>
