---
import type { GetStaticPaths, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'

import { Paginator, PostPreview } from 'astro-pure/components/pages'
import { getBlogCollectionByLocale, getUniqueTags, sortMDByDate } from 'astro-pure/server'
import { Button } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import { i18n } from 'astro:config/client'
import config from '@/site-config'
import { useTranslations } from 'astro-pure/utils'

export const prerender = true

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const allPosts = (await getBlogCollectionByLocale(i18n?.defaultLocale || 'en')) as CollectionEntry<'blog'>[]
  const allPostsByDate = sortMDByDate(allPosts) as CollectionEntry<'blog'>[]
  const uniqueTags = getUniqueTags(allPostsByDate)

  return uniqueTags.flatMap((tag) => {
    const filterPosts = allPostsByDate.filter((post) => post.data.tags?.includes(tag))
    return paginate(filterPosts, {
      pageSize: config.content.blogPageSize,
      params: { tag }
    })
  })
}

interface Props {
  page: Page<CollectionEntry<'blog'>>
}

const { page } = Astro.props as unknown as Props
const { tag } = Astro.params
const { t } = useTranslations(['common', 'blog'], Astro.currentLocale)

const meta = {
  description: t('tags.description', { tag }),
  title: t('tags.title', { tag })
}

const paginationProps = {
  ...(page.url.prev && {
    prevUrl: {
      text: t('pagination.previous_tags'),
      url: page.url.prev
    }
  }),
  ...(page.url.next && {
    nextUrl: {
      text: t('pagination.next_tags'),
      url: page.url.next
    }
  })
}
---

<PageLayout {meta}>
  <Button title={t('navigation.back')} href='/blog' variant='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 flex items-end gap-x-2 text-3xl font-medium'>
        {t('tags.title')}:
        <span class='text-2xl'>#{tag}</span>
      </h1>
    </div>

    <section id='content' class='animate' aria-label='Blog post list'>
      <ul class='flex flex-col gap-y-3 text-start'>
        {page.data.map((post: CollectionEntry<'blog'>) => <PostPreview {post} detailed />)}
      </ul>
      <Paginator {...paginationProps} />
    </section>
  </main>
</PageLayout>
